###############################################################################
# Ignore Extensions...
**/*.swp
**/*.hcl
**/*.tfstate

###############################################################################
# Ignore Files...
**/.DS_Store

###############################################################################
# Ignore Directories...
**/.vscode
**/.terraform